.photo_item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
}
.photo_item img {
    width: 100%;
    
}

#home .photo_item h2 {
    margin-bottom: 0.2em;
}

.photo_author {
    text-align: left;
}

.photo_author a {
    font-weight: bold;
}

.title_card{
    display: flex;
}
/*card*/
