.edit_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.edit_profile h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 3vh;
}

.subtitle {
    font-weight: bold;
    font-size: 1.5vh;
    color: #c0c0c0;
    margin-bottom: 2em;
}

.profile_image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-bottom: 5rem;
}

.edit_profile_form{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 2rem;
}
@media only screen and (max-width: 320px) {
    .edit_profile_form {
            max-width: 75% !important;
    }
}

@media only screen and (max-width: 375px) {
    .edit_profile_form {
            max-width: 85%;
    }
}

@media only screen and (max-width: 425px) {
    .edit_profile_form {
        max-width: 95%;
    }
}

span {
    padding: 0 0.7rem;
    text-align: left !important;
    font-size: 1.5vh !important;
}

hr{
    width: 83% !important;
    display: flex;
    align-self: center;
}
