.message {
  border-radius: 5px;
  padding: 5px 10px;
  position: relative;
  margin: 0 0 15rem 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.error {
  color: #e53935;
  font-weight: 600;
  background-color: rgb(239, 151, 151);
  border: 2px solid #e53935;
}

.success {
  color: #155724;
  background-color: #ACBB78;
  border: 2px solid #155724;
}

