/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */

 *,
*::before,
*::after {
  box-sizing: border-box;
}

/*container-app*/
.coolGramApp {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/*header*/
.Container-header-coolGram{
  width: 100%;
  border: 1px solid #FAFAFA;
  padding: 5rem;
}

/*main*/
.Container-main-coolGram{
    min-height: 95vh;
    width: 55%;
    padding: 5rem 5rem 5rem 5rem;
    margin: 1rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #121212;
    border-radius: 16px;
    box-shadow: 0 0 0.3rem #FAFAFA;
    background: #232526;
    color: #FAFAFA;
}
@media only screen and (max-width: 320px) {
  .Container-main-coolGram{
    width: 90% !important;
  }
}
@media only screen and (max-width: 375px) {
  .Container-main-coolGram{
    width: 90% !important;
  }
}
@media only screen and (max-width: 425px) {
  .Container-main-coolGram{
    width: 90% !important;
  }
}
@media only screen and (max-width: 768px) {
  .Container-main-coolGram{
    width: 75%;
  }
}
@media only screen and (max-width: 1024px) {
  .Container-main-coolGram{
    width: 70%;
}
}


