/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */

 *,
*::before,
*::after {
  box-sizing: border-box;
}

/*container-app*/
.coolGramApp {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/*header*/
.Container-header-coolGram{
  width: 100%;
  /* border: 1px solid #FAFAFA; */
}

/*main*/
.Container-main-coolGram{
    min-height: 95vh;
    width: 55%;
    padding: 5rem 5rem 5rem 5rem;
    margin: 13rem 0 1rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-radius: 16px;
    box-shadow: 0 0 0.4rem #0095b6,
      0 0 0.2rem #FAFAFA,
      0 0 0.2rem #0095b6;
    background: #121212;
    color: #FAFAFA;
}
@media only screen and (max-width: 320px) {
  .Container-main-coolGram{
    width: 90% !important;
    margin: 21rem 0 1rem 0 !important;
  }
}
@media only screen and (max-width: 375px) {
  .Container-main-coolGram{
    width: 90% !important;
    margin: 21rem 0 1rem 0 !important;
  }
}
@media only screen and (max-width: 425px) {
  .Container-main-coolGram{
    width: 90% !important;
    margin: 21rem 0 1rem 0 !important;
  }
}
@media only screen and (max-width: 768px) {
  .Container-main-coolGram{
    width: 75%;
    margin: 16rem 0 1rem 0 ;
  }
}
@media only screen and (max-width: 1024px) {
  .Container-main-coolGram{
    width: 70%;
  }
}

/*header*/
.Container-footer-coolGram{
  font-size: 1vh;
  width: 100%;
  padding: 2rem;
}